body{
    background-color: darkslateblue;
    font-family: 'Noto Sans',sans-serif;
}
h2 {
    padding-bottom: 50px;
    color:aliceblue;
    padding-top: 30px;
}
.card{
    border-radius: 20px;
    background-color:rgba(255, 255, 255, 0.8);
}
.logout{
    padding-top: 30px;
}
.logout a{
    padding: 15px;
    border-radius: 15px;
    background-color: rgb(230, 118, 118);
    color: black;
    border: none;
    outline:none;
}